.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-items: center;
  padding: 92px 50px 96px 50px;
}

.header__nav {
  display: flex;
  justify-self: flex-start;
}

.nav__items {
  display: flex;
  gap: 34px;
  list-style-type: circle;
  font-size: 18px;
  font-weight: normal;
  text-underline-offset: 4px;
}

.nav__item-no-bullit {
  list-style-type: none;
}

.nav__item-active {
  text-decoration-line: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.address {
  margin: 0;
  padding: 0;
  max-width: 236px;
  justify-self: end;
}

.address-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  font-size: 18px;
  line-height: 135%;
}

.cover {
  width: 1100px;
  min-height: 757px;
  display: flex;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 180px;
}

.overlay {
  position: absolute;
  background-color: rgb(0 0 0 / 0.6);
  width: 100%;
  height: 100%;
}

.cover__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 165px 50px 0;
  height: 385px;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: white;
}

.cover__title-left {
  margin-bottom: 18px;
}

.cover__title-center {
  text-align: center;
  margin-left: 0.3em;
  margin-bottom: 18px;
}

.cover__title-right {
  text-align: end;
  position: relative;
  left: 0.3em;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 106px 50px 0;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  text-align: start;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid white;
  width: 256px;
  padding: 10px;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  background: none;
  color: white;
}

.lots {
  padding: 0 24px;
}

.lots__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  padding-left: 40px;
  margin-bottom: 27px;
}

.lots__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.lots__cards-item {
  position: relative;
  width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center;
}

.lots__cards-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
}

.lots__cards-overlay-film {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__cards-overlay-book {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__cards-overlay-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__cards-item-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}

.lots__cards-item-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.lots__more {
  margin: 30px 0 0 40px;
}

.lots__more-link {
  font-weight: 400;
  font-size: 20px;
}

.about {
  display: flex;
  margin: 123px 24px 0 24px;
  justify-content: space-between;
  width: 1052px;
}

.about__logo {
  margin: 35px 0 0 47px;
}

.about__logo-circle {
  display: flex;

  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: black;
  align-items: center;
  justify-content: center;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 136px;
}

.about__content-title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 100px;
}

.about__content-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  max-width: 693px;
}

.about__content-description-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
  white-space: normal;
  overflow-wrap: break-word;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
  padding: 0 50px 96px 50px;
}

.footer__nav-items {
  display: flex;
  flex-direction: column;
  /* gap: 18px; */
  font-size: 18px;
  text-align: center;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style-type: none;
}

.footer__social-item {
  width: 48px;
  height: 48px;
}
